unreferenced items from YANG

```


No reference entries found for these items, which were mentioned in the text:
[RFC8949], [RFC8995], [draft-ietf-tls-rfc4492bis-17], [ITU.X690.1994], and [RFC7250].

Possible DOWNREF from this Standards Track doc to [ITU-T.X690.2015]. If so, the
IESG needs to approve it.
```

Are these referenced in the YANG only?


> I think items referenced from the YANG only, still need to be included in our references list. And decide normative/informative.
> 
> 2. change all refs "BRSKI" to "RFC8995"  (maybe the most clear given how often we use 'RFC8995' as a literal string)

I have done this.


Reopening this issue, one dangling reference instance 'draft-ietf-tls-rfc4492bis-17' is still present - see email