establish common terminology for pieces of the voucher

MK would propose to establish consistent terminology in RFC8366bis and use it accordingly in the new drafts:

Voucher: A signed statement from the MASA service that indicates to a pledge the cryptographic identity of the domain it should trust.
JSON Voucher Data: An unsigned JSON document [RFC8259] that conforms with the data model described by the ietf-voucher YANG module [RFC7950] defined in [Section 5.3 of RFC8366bis] and is encoded using the rules defined in [RFC7951].
CMS Voucher: CMS structure [RFC5652] signing the JSON Voucher Data.
jws-voucher:

JWS Voucher: JWS structure [RFC7515] signing the JSON Voucher Data.
constrained-voucher:

CBOR Voucher Data: An unsigned CBOR document [RFC8949] that conforms with the data model described by the ietf-voucher YANG module [RFC7950] defined in [Section 5.3 of RFC8366bis] and is encoded using the rules defined in [RFC9254].
COSE Voucher: COSE structure [RFC9052] signing the CBOR Voucher Data.

fixed in b47d861.